<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mypc.relaxsound">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RelaxActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.SongService"
            android:exported="true"
            android:enabled="true"/>
        <receiver android:name=".receiver.NotificationBroadcast" >
            <intent-filter>
                <action android:name="com.example.mypc.relaxsound.previous" />
                <action android:name="com.example.mypc.relaxsound.delete" />
                <action android:name="com.example.mypc.relaxsound.pause" />
                <action android:name="com.example.mypc.relaxsound.play" />
                <action android:name="com.example.mypc.relaxsound.next" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>